## 1. Importing Libraries

In [128]:
import os

import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split

## 2. Read the data

In [129]:
RAW_DATA_DIR = r'..\data\raw'
PRO_DATA_DIR = r'..\data\processed'

In [130]:
def get_data(file_name):
    file_name_w_ext = f'{file_name}.csv'
    file_path = os.path.join(RAW_DATA_DIR, file_name_w_ext)
    return pd.read_csv(file_path)

In [131]:
airbnb = get_data('AB_NYC_2019')
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [132]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

## 3. Check Data Types

In [133]:
airbnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

## 4. Check for duplicates

In [134]:
airbnb.duplicated().sum()

np.int64(0)

## 5. Detailed Analysis

### `name`

In [135]:
airbnb.name

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                          Cozy Entire Floor of Brownstone
4         Entire Apt: Spacious Studio/Loft by central park
                               ...
48890      Charming one bedroom - newly renovated rowhouse
48891        Affordable room in Bushwick/East Williamsburg
48892              Sunny Studio at Historical Neighborhood
48893                 43rd St. Time Square-cozy single bed
48894    Trendy duplex in the very heart of Hell's Kitchen
Name: name, Length: 48895, dtype: object

In [136]:
(
    airbnb
    .name
    .str.findall(r'[^A-Za-z0-9 ]+')
    .explode()
    .unique()
)

array(['&', nan, '....', '!', ':', '/', "'", '-', ',', '+', '#', '.', ';',
       '$', '*', '...', '!!!', '**', '!!', '(', ')', '—', '.,', '’',
       '.....', '.(', '~/', '•', '>', '@', '/++', ')!', '-⭐️', '--', '..',
       ':,', '⚡', '☆', '!-', '=', ')*', '"', '✿✿✿', '{', '}', '-à-', '_',
       '²', '++', ':\n', '–', '\n', '|', 'ä', '.........', 'é', ':)',
       '❤️', '******', '*****', '!*', '->', '<', './', '♥️', '?', ';)',
       '☆☆', '~', '%', '!!!!', '♥', '^', '.!', '***', '❤', '//', '★',
       '*,', '™', '.)', '!(', '“', '(&', '!)', '\n\n', '.-', '.✨', ').',
       '¡¡', '[', ']', '★★★★★-', '|❤', '-(', '..!', '::', '••', '!!••',
       'º', '!,', '!--', '☀️', 'â', '!~', '!❤️❤️❤️❤️❤️', '...!!',
       '(安靜公寓)', '!☆', '”\n', ':-)', '\n+', '....)', '皇后区“曼哈顿”-森林小丘别墅!',
       '别墅二楼主卧房', '别墅的地下室', '($', 'à', '-$-', '三楼阁楼', '别墅二楼卧房',
       'ﾆｭｰﾖｰｸの中心', '曼哈顿上西区林肯中心附近优质公寓短租!', '=)', '法拉盛中心温馨两房两厅公寓｡近一切｡',
       '":', 'Ü', 'ó', '!\n', '/♥', '❤️️', '*$$', '汤母小屋', '纽约之家(',
       '“纽约之家', '”独立洗手间', '..!!!', '(+', '“纽约之家”', '独立洗手间', '!!!!!!!',
       '”', '舒适阳光房', 'è', '~*', '*~', '`', '!!!!!!', '!@!', '正面能量',
       '近地铁及市中心,交通方便,干净,明亮,到曼哈頓只要', '分鐘', '近地铁及市中心,干净', '―', '."', '****',
       '´', '⭐️', '阳光温馨单房', '停车容易', '||', ',\n', '♡', '✌️',
       '近公園新小套房,鬧中取靜', '---', '*^', ':-)!', 'светлая', 'комната', 'с',
       'балконом', '/!', '哥伦比亚大学附近公寓内客厅一间,', '美元一天', '✦', 'ç', '·',
       'русский,', 'עברית', "''", '(-', '中央公园旁的现代公寓', '✪', ',欢迎中国朋友来住',
       ',.', 'Комната', 'в', 'Манхеттене,', 'октября', ':))', '!!!!!',
       '(#', 'ღ', '웃♥유', '曼哈顿上西区比邻哥伦比亚大学一室一厅可住', '人温馨小屋', '+.',
       '欢迎中国游客短租', '❤️❤️', '!••', '!!!/', '(^_^)', '位于曼哈顿纽约上城,高级住宅区',
       '❤︎', 'í', '纽约市曼哈顿中城', '\xa0', '室', '厅_$', '/月', '位于曼哈顿岛上', '街',
       '性价比超高房间短租~', '纽约之家', '\n“', '웨스트빌리지에', '위치한', '고급', '스튜디오',
       '(도어맨)', '【完全個室】', '､専用ﾊﾞｽﾄｲﾚ､ｷｯﾁﾝ付き(', '与众不同,方便停车｡值得一试!', '.!!',
       'å', '\\)', '⚜', '旅途中的家', '◔‿◔', '房源', '暑假招租,', '月', '日-', '日',
       ')-', '~~', '~!', '单房短租', '交通便利', '☞', '哥大附近卧室', '),', '+)', ')+',
       '!!,', '뉴욕의', '꿈꾸는', '집', '✺', '(Ś', 'ü', '分钟拉瓜迪机场,',
       '分钟肯尼迪机场｡皇后区法拉盛中心,地段超好｡#', '近地铁单房', '✨', '新精緻近公園舒適含窗半地下公寓',
       '★★★★★', ')$', '""', '★★', '‘', '~**', '**~', '$!', '.+',
       '可愛いﾚﾝｶﾞの壁のお部屋/', '️', '豪华套间', '"-', '-)', '紐約民宿', '_*', '✰',
       '停车方便｡是你入住的最好选择｡', '和缘阳光民宿', '停车方便,环境优美', '宽敞明亮,中英文服务｡', 'דירה',
       'שווה', 'בוויליאמסבורג', '☝', '!!)',
       '浪漫民宿,环境优美,停车方便,独立洗手间和马桶,浴室共用｡', 'Не', 'дорогая', 'Нью-Йорке,',
       'Бруклине', '⭐️⭐️⭐️⭐️⭐️', '☼', '❤️❤️❤️', 'É', '맨하튼', '소호', '거리',
       '주변', '인실', 'で人気の街ﾌﾞﾙｯｸﾘﾝﾊﾟｰｸｽﾛｰﾌﾟで､暮らしてみませんか｡', '?*', '法拉盛', '家(',
       '\n(', ')\n', '曼哈顿景色豪华公寓', '简单的四房一厅两卫生间,位于北上远离开辆,走路四分钟到地铁站,交通便利\n',
       '+++)', '*\n', '\n•', '★★明るいお部屋★', '和缘特色浪漫房', '❤️/', '哥大附近', '《',
       '》法拉盛市中心明亮干净的私人房间', '温馨舒适双人房,双床,明亮大窗,电梯公寓(两个房间用一个卫生间)', '☆☆☆',
       '—\xa0', 'ﾐｯﾄﾞﾀｳﾝｳｴｽﾄｻｲﾄﾞ', '...皇后区大房,', '近超市､地铁', '⭐', '\n#',
       '!★', '法拉盛中心公寓楼高层', '唐人街电梯公寓/厨卫/网快/美网赛事', '△', '纽约干净大房近地铁站',
       '❤️❤️/', '&\n', '♛', '曼哈顿中心', '位于地狱厨房,位置棒棒',
       '緑が多く安全なﾌﾞﾙｯｸﾘﾝﾊﾟｰｸｽﾛｰﾌﾟの庭付き貸切ｱﾊﾟｰﾄ', 'ღღღ', 'œ', '法拉盛(', ')独立出入',
       '套房出租｡', '房', '卫', '纽约三室一厅两全浴带独立厨房和停车位\n', '.❤️❤️❤️❤️❤️', 'ॐ', '¡',
       '☺', '近', '机场和地铁', '【ｱｸｾｽ抜群】空港', '分･ﾏﾝﾊｯﾀﾝ', '分!駅徒歩',
       '分の好立地なお部屋です', '/.', '❤️❤️❤️❤️❤️', '✮', '阳光民宿',
       '单房干净舒适｡“和缘国旅”了解更多旅游､民宿', '!⭐️', '️-', '旅客之家', '法拉盛中心的新装修房', 'ö',
       '_(', '豪华卧室', '汤姆公寓', '天使的温暖', '曼哈顿林肯中心一室一厅', ')**', '(=', '♕',
       '|★★★★★|', '!全新,商务最佳', '温馨双人房,步行地铁两分钟,', ',单间双人房,(共用卫生间)',
       '大双人房,共用卫生间,', '舒适温馨小屋两间', '!❤️', 'ﾐｯﾄﾞﾀｳﾝ高級ｺﾝﾄﾞのﾘﾋﾞﾝｸﾞﾙｰﾑに宿泊',
       '):', '整套豪华公寓', 'ｳｨﾘｱﾑｽﾞﾊﾞｰｸﾞのかわいいお部屋です', 'ñ', '露西套房(', '【', '】',
       '佳源家庭旅馆', '佳源家庭旅馆套房', '舒适洁净的保证', '纽约森林小丘简约文艺客舍', '佳源家庭旅馆双床房间',
       'Комната.', 'Место', 'комнате', 'Á', '阳光之家', '近哥大电梯公寓大楼',
       '超级便利的豪华公寓次卧', 'для', 'пары', '罗岛一间卧室出租', '☆☆☆☆☆', '呎',
       '法拉盛美丽豪华大套房', '法拉盛唯美独立房间', '法拉盛温馨亲子房',
       '法拉盛高档,奢华大套房(带按摩浴缸和淋浴的独立卫生间)', 'ù', '溫馨大套房', '-\n', '..**',
       '纽约曼哈顿', '唐人街公寓', '方便,性价比高', '(☆☆☆☆☆)', '纽约', '罗岛曼哈顿短租',
       ')法拉盛舒适轻奢套房', '法拉盛近地铁舒适单房—', '.\n', '法拉盛中心近地铁舒适单房—', '大学', 'Ó',
       '近法拉盛海景房', '/&', '$$', '>>', ';(', ')(', '纽约法拉盛民宿客栈', '☀', '【限',
       '名女生】近哥伦比亚大学超方便短租房【无其他费用】(情侣请私聊)', '中国城', '♔', '旅游,探亲,留学生首选',
       '温馨小屋', ';$', '名個室)', '客栈', '⭐︎⭐︎', '✔', '法拉盛中心單人房间', '法拉盛中心私人房间',
       '/法拉盛中心私人房間獨立衛浴', '?=>', '◈', 'две', 'кровати', '紐約哥大週邊優質短租',
       '套房私享一层', '✴', '双层屋', '新一处客居(', '暑假短租', '√', '(☆)', '(♥)', '✈',
       'À', '美国', '家庭风----幸运纽约客', '民宿', '皇后区豪华园林式独立别墅适合家庭出游理想住宿自由畅享私家空间',
       '((', '))', '!.', '和缘浪漫民宿', '♥♥♥', ';-))', '温馨方便', '==',
       '像纽约有个温馨的家', '安静整洁', '♦♦♦', '温馨如家', '\n<', '自己的小房间', '￫￫￫', '☆彡',
       '法拉盛中心', '靠近地铁站\n', '▲', 'é,', '曼哈顿帝国大厦/', '▶︎', '曼哈顿/帝国大夏/',
       '豪华双人间\n法拉盛步行地铁站', '纽约多单元大厦', ';-)', '私人空间', '///', '⭐⭐⭐', '/\n',
       '★☆', '☆-', '\n&', '⚓', '靠近机场交通购物两便利房间#', '\n&(', ':-', '法拉盛步行',
       '号地铁', '分钟左右单房(共用卫生间)', '法拉盛步行地铁站', '分钟带独立卫生间套房', '法拉盛步行地铁',
       '分钟单房(共用卫生间)', '床', '靠近机场交通方便明亮大房间#', '纽约单一家庭住宅', ',(', '^^',
       '温馨漂亮大睡房', '干净舒适花园房', '⬆︎', '&法拉盛/', '한성', '韓城', '金色上房', 'Ô',
       '法拉盛中心新大楼', '卧,', '分钟', '单人间', '\n獨一無二的紐約閣樓', '安全舒適的家\n', '.²',
       '✨✨', '•••', '美麗之家', '舒適安全便利的家', '｡', '♀', '♂', '!***', '-_-',
       '★-', '窗下凉台花园房｡', '$$$', '⏩', '⏪', 'İ', '..(', '\\\\', '家', '粉色上房',
       '—>', '家庭式旅馆獨立衛生間套房', '✩', '家庭式雙人房', '家庭式單間雙人床', '家庭式獨立衛生間套房',
       '+),', '⍟', '家庭式雙床房', '°', '温馨小筑', '따뜻한', '작은', '건물', '`-', '⋆',
       '➡︎', '☯', '⭐$', '@@@', '-#', '全独立套房十分钟法拉盛中心', '音樂之家', '网红楼',
       '沙发客厅', '×', '纽约长岛市最新豪华网红楼王', '独立卧室出租!(出门就是地铁站!)',
       '长岛豪华公寓单间卧室低价短租交通无敌便利', '紐約清雅居,地鐵公車便利,步行', '分鐘到超市', '幸福小屋', '!!:)',
       '+++', '=]', 'Сдаётся', 'Февраля-', 'Марта', ',\nВ', 'отличном',
       'раёне', '!\xa0', '"!', '‘’', '’’', '(個室)', '纽约客民宿', '法拉盛花园独立屋',
       '웃', '♪', '套房', '春', 'ê', '夏', '秋', '旅行客栈', '✤', '温馨的家', '双个房',
       '三人房', '靓房', "')", '曼岛中城', '切尔西区', '闹市中静怡如家的空间', '❋',
       '温馨小宅,安静干净,环境优美!', '安静', '干净', '温暖的小屋', '²/', '²★',
       '干净卫生的环境房,欢迎订房', ',&', '中城西豪华客厅!', ')!!!!', '公馆套房', '曼哈顿', '街转租!',
       '温暖的双人房间', 'Ú', '✭', '!✭', 'á', '/帝国大夏/', '©', '靠近机场,交通购物两便利大房间#',
       '西藏民居', '!!★', '林肯中心', '分钟到西', '地铁站', '温馨双单人床小屋',
       '纽约曼哈顿中城临近高校舒适公寓-仅限女性入住', '"!!', '♥︎', '小房间', '!"', 'на',
       '靠近机场交通方便双人房#', '\\', '步行', '分钟到缅街中心的独立电梯房', '分钟到纽约城市广场,下楼即是地铁站',
       '分钟到法拉盛缅街中心的电梯房,提供免费矿泉水可乐', '哥伦比亚大学附近步行', '分钟高档公寓主卧暑期降价转租', '>&',
       '(舒适双人房带阳台)', '金城发双人房', '❣', '❀', '阳台大双人房', '➖', '￨', '===', '✌',
       '✿', '幸运旅程', '温馨旅店(', '!:', '❤❤❤', '法拉盛中心地段单身客房', '+,', '⚾', '》',
       '☕', '部屋でのｼｪｱ', '畳', '駅から徒歩', '分', 'ﾌﾞﾙｯｸﾘﾝの大人気ｴﾘｱ:ｳｨﾘｱﾑｽﾞﾊﾞｰｸﾞから',
       '駅', 'ﾌﾞﾙｯｸﾘﾝの大人気ｴﾘｱのｳｨﾘｱﾑｽﾞﾊﾞｰｸﾞから', '分の好立地', '曼哈顿奢侈公寓次卧', '?\n',
       '➽', '⊹', '.#', '?!', '❤️$', '⌚', '★★★', '离缅街步行',
       '分钟的电梯独立房间,提供免费矿泉水可乐', '驿站', '舒适单人房(', '分钟的电梯单间,提供免费矿泉水可乐', '안전하고',
       '조용한', '숙소', '⚓⚓⚓', '✿✿', '❥❥❥', '❥❥', '✧', '✌✌✌', 'ﾏﾝﾊｯﾀﾝ､駅から徒歩',
       '分でどこに行くのにも便利な場所!女性の方希望,ｷﾚｲなお部屋｡', '⚡⚡', '##', '舒适的带空调单间',
       '舒适的阳光朝南单间-与哥大咫尺之遥', '~~~~', '纽约的家', '中央公园旁的单间', '金城发大床房', ':)\n',
       '♥~', '~♥', '金城发', '❥❥❥*', '地铁口', '街阳光主卧', '月短租】限女生,', '!@', ';\n',
       '(独立出入)', '❥', '纽约罗岛', '整租或合租', '窗外美景', '设施全', '家具新', '到曼哈顿方便',
       '性价比高'], dtype=object)

In [137]:
(
    airbnb
    .name
    .fillna('')
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('ascii')
    .str.replace(r'[^0-9A-Za-z ]', ' ', regex=True)
    .str.replace(r' +', ' ', regex=True)
    .str.strip()
    .str.lower()
    # .loc[lambda ser: ~ser.str.contains(
    #     r'\b(?:yacht\s+tour|yacht\s+cruise|boat\s+tour|events?\s+listing|storage\s+only|parking\s+only)\b',
    #     case=False, na=False
    # )]
)

0                         clean quiet apt home by the park
1                                    skylit midtown castle
2                           the village of harlem new york
3                          cozy entire floor of brownstone
4          entire apt spacious studio loft by central park
                               ...
48890        charming one bedroom newly renovated rowhouse
48891        affordable room in bushwick east williamsburg
48892              sunny studio at historical neighborhood
48893                  43rd st time square cozy single bed
48894    trendy duplex in the very heart of hell s kitchen
Name: name, Length: 48895, dtype: object

### `host_id`

In [138]:
airbnb.host_id

0            2787
1            2845
2            4632
3            4869
4            7192
           ...
48890     8232441
48891     6570630
48892    23492952
48893    30985759
48894    68119814
Name: host_id, Length: 48895, dtype: int64

In [139]:
airbnb.host_id.duplicated().sum()

np.int64(11438)

In [140]:
airbnb.groupby('host_id').transform('size')

0        6
1        2
2        1
3        1
4        1
        ..
48890    2
48891    2
48892    1
48893    6
48894    1
Length: 48895, dtype: int64

### `neighbourhood_group`

In [141]:
airbnb.neighbourhood_group

0         Brooklyn
1        Manhattan
2        Manhattan
3         Brooklyn
4        Manhattan
           ...
48890     Brooklyn
48891     Brooklyn
48892    Manhattan
48893    Manhattan
48894    Manhattan
Name: neighbourhood_group, Length: 48895, dtype: object

In [142]:
airbnb.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [143]:
airbnb.neighbourhood_group.value_counts()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [144]:
(
    airbnb
    .neighbourhood_group
    .astype('category')
)

0         Brooklyn
1        Manhattan
2        Manhattan
3         Brooklyn
4        Manhattan
           ...
48890     Brooklyn
48891     Brooklyn
48892    Manhattan
48893    Manhattan
48894    Manhattan
Name: neighbourhood_group, Length: 48895, dtype: category
Categories (5, object): ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

### `neighbourhood`

In [145]:
airbnb.neighbourhood

0                Kensington
1                   Midtown
2                    Harlem
3              Clinton Hill
4               East Harlem
                ...
48890    Bedford-Stuyvesant
48891              Bushwick
48892                Harlem
48893        Hell's Kitchen
48894        Hell's Kitchen
Name: neighbourhood, Length: 48895, dtype: object

In [146]:
airbnb.neighbourhood.unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook'], dtype=object)

In [147]:
airbnb.neighbourhood.isna().sum()

np.int64(0)

In [148]:
(
    airbnb
    .neighbourhood
    .str.strip()
    .astype('category')
)

0                Kensington
1                   Midtown
2                    Harlem
3              Clinton Hill
4               East Harlem
                ...
48890    Bedford-Stuyvesant
48891              Bushwick
48892                Harlem
48893        Hell's Kitchen
48894        Hell's Kitchen
Name: neighbourhood, Length: 48895, dtype: category
Categories (221, object): ['Allerton', 'Arden Heights', 'Arrochar', 'Arverne', ..., 'Woodhaven', 'Woodlawn', 'Woodrow', 'Woodside']

### `latitude` & `longitude`

In [149]:
airbnb.loc[:,['latitude', 'longitude']]

       latitude  longitude
0      40.64749  -73.97237
1      40.75362  -73.98377
2      40.80902  -73.94190
3      40.68514  -73.95976
4      40.79851  -73.94399
...         ...        ...
48890  40.67853  -73.94995
48891  40.70184  -73.93317
48892  40.81475  -73.94867
48893  40.75751  -73.99112
48894  40.76404  -73.98933

[48895 rows x 2 columns]

In [150]:
airbnb.loc[:,['latitude', 'longitude']].max()

latitude     40.91306
longitude   -73.71299
dtype: float64

In [151]:
airbnb.loc[:,['latitude', 'longitude']].min()

latitude     40.49979
longitude   -74.24442
dtype: float64

### `room_type`

In [152]:
airbnb.room_type

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: object

In [153]:
airbnb.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [154]:
(
    airbnb
    .room_type
    .astype('category')
)

0           Private room
1        Entire home/apt
2           Private room
3        Entire home/apt
4        Entire home/apt
              ...
48890       Private room
48891       Private room
48892    Entire home/apt
48893        Shared room
48894       Private room
Name: room_type, Length: 48895, dtype: category
Categories (3, object): ['Entire home/apt', 'Private room', 'Shared room']

### `price`

In [155]:
airbnb.price

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [156]:
airbnb.price.le(0).sum()

np.int64(11)

In [157]:
(
    airbnb
    .loc[lambda df_: df_.price.le(0)]
)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaN,NaN,1,0
26841,21291569,Coliving in Brooklyn! Modern design / Shared room,101970559,Sergii,Brooklyn,Bushwick,40.69211,-73.90670,Shared room,0,30,2,2019-06-22,0.11,6,333
26866,21304320,Best Coliving space ever! Shared room.,101970559,Sergii,Brooklyn,Bushwick,40.69166,-73.90928,Shared room,0,30,5,2019-05-24,0.26,6,139

In [158]:
airbnb.loc[lambda df_: df_.price.idxmax()]

id                                                            7003697
name                              Furnished room in Astoria apartment
host_id                                                      20582832
host_name                                                    Kathrine
neighbourhood_group                                            Queens
neighbourhood                                                 Astoria
latitude                                                      40.7681
longitude                                                   -73.91651
room_type                                                Private room
price                                                           10000
minimum_nights                                                    100
number_of_reviews                                                   2
last_review                                                2016-02-13
reviews_per_month                                                0.04
calculated_host_listings_count                                      1
availability_365                                                    0
Name: 9151, dtype: object

In [159]:
airbnb.price.max()

np.int64(10000)

In [160]:
(
    airbnb
    .loc[lambda df_: df_.price.ge(10000)]
)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83

In [161]:
# indexes to drop
airbnb.loc[lambda df_: df_.price.le(0)].index

Index([23161, 25433, 25634, 25753, 25778, 25794, 25795, 25796, 26259, 26841,
       26866],
      dtype='int64')

### `minimum_nights`

In [162]:
airbnb.minimum_nights

0         1
1         1
2         3
3         1
4        10
         ..
48890     2
48891     4
48892    10
48893     1
48894     7
Name: minimum_nights, Length: 48895, dtype: int64

In [163]:
airbnb.minimum_nights.le(0).sum()

np.int64(0)

In [164]:
airbnb.minimum_nights.unique()

array([   1,    3,   10,   45,    2,    5,    4,   90,    7,   14,   60,
         29,   30,  180,    9,   31,    6,   15,    8,   26,   28,  200,
         50,   17,   21,   11,   25,   13,   35,   27,   18,   20,   40,
         44,   65,   55,  120,  365,  122,   19,  240,   88,  115,  150,
        370,   16,   80,  181,  265,  300,   59,  185,  360,   56,   12,
         70,   39,   24,   32, 1000,  110,  270,   22,   75,  250,   62,
         23, 1250,  364,   74,  198,  100,  500,   43,   91,  480,   53,
         99,  160,   47,  999,  186,  366,   68,   93,   87,  183,  299,
        175,   98,  133,  354,   42,   33,   37,  225,  400,  105,  184,
        153,  134,  222,   58,  210,  275,  182,  114,   85,   36])

In [165]:
(
    airbnb
    .loc[lambda df_: df_.minimum_nights.gt(370)]
)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaN,NaN,1,362
5767,4204302,Prime W. Village location 1 bdrm,17550546,Genevieve,Manhattan,Greenwich Village,40.73293,-73.99782,Entire home/apt,180,1250,2,2014-11-09,0.03,1,365
7355,5431845,Beautiful Fully Furnished 1 bed/bth,3680008,Aliya,Queens,Long Island City,40.75104,-73.93863,Entire home/apt,134,500,30,2018-06-24,0.57,1,90
8014,6169897,Wonderful Large 1 bedroom,10720264,John,Manhattan,Harlem,40.82135,-73.95521,Entire home/apt,75,500,0,NaN,NaN,1,362
10829,8341919,Brand New Luxury Apt Lease Takeover,43945071,Shining,Queens,Long Island City,40.74654,-73.95778,Entire home/apt,199,480,0,NaN,NaN,1,365
11193,8668115,Zen Room in Crown Heights Brooklyn,8996336,Laura,Brooklyn,Crown Heights,40.67255,-73.94914,Private room,50,500,10,2016-09-22,0.22,1,365
13404,10053943,Historic Designer 2 Bed. Apartment,2697686,Glenn H.,Manhattan,Harlem,40.82915,-73.94034,Entire home/apt,99,999,2,2018-01-04,0.07,1,42
14285,11096888,Peaceful apartment close to F/G,2228137,Amanda,Brooklyn,Kensington,40.64779,-73.97956,Private room,45,500,0,NaN,NaN,1,358
26341,20990053,Beautiful place in Brooklyn! #2,151084261,Angie,Brooklyn,Williamsburg,40.71772,-73.95059,Private room,79,999,24,2018-06-28,1.12,6,249
34487,27362309,Not available,14621589,Sol,Brooklyn,Bedford-Stuyvesant,40.69974,-73.94658,Private room,50,400,0,NaN,NaN,1,90
38664,30378211,Shared Studio (females only),200401254,Meg,Manhattan,Greenwich Village,40.73094,-73.99900,Shared room,110,999,0,NaN,NaN,1,365
47620,35834935,Williamsburg Apartment,82674375,Meg,Brooklyn,Williamsburg,40.70898,-73.94885,Entire home/apt,140,500,0,NaN,NaN,1,331

### `number_of_reviews`

In [166]:
airbnb.number_of_reviews

0          9
1         45
2          0
3        270
4          9
        ...
48890      0
48891      0
48892      0
48893      0
48894      0
Name: number_of_reviews, Length: 48895, dtype: int64

In [167]:
airbnb.number_of_reviews.value_counts()

number_of_reviews
0      10052
1       5244
2       3465
3       2520
4       1994
       ...
372        1
299        1
436        1
310        1
341        1
Name: count, Length: 394, dtype: int64

### `last_review`

In [168]:
airbnb.last_review

0        2018-10-19
1        2019-05-21
2               NaN
3        2019-07-05
4        2018-11-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object

In [169]:
pd.to_datetime(airbnb.last_review)

0       2018-10-19
1       2019-05-21
2              NaT
3       2019-07-05
4       2018-11-19
           ...
48890          NaT
48891          NaT
48892          NaT
48893          NaT
48894          NaT
Name: last_review, Length: 48895, dtype: datetime64[ns]

### `reviews_per_month`

In [170]:
airbnb.reviews_per_month

0        0.21
1        0.38
2         NaN
3        4.64
4        0.10
         ...
48890     NaN
48891     NaN
48892     NaN
48893     NaN
48894     NaN
Name: reviews_per_month, Length: 48895, dtype: float64

In [171]:
airbnb.reviews_per_month.min()

np.float64(0.01)

In [172]:
airbnb.reviews_per_month.max()

np.float64(58.5)

### `calculated_host_listings_count`

In [173]:
airbnb.calculated_host_listings_count

0        6
1        2
2        1
3        1
4        1
        ..
48890    2
48891    2
48892    1
48893    6
48894    1
Name: calculated_host_listings_count, Length: 48895, dtype: int64

In [174]:
airbnb.calculated_host_listings_count.max()

np.int64(327)

In [175]:
airbnb.calculated_host_listings_count.min()

np.int64(1)

In [176]:
# (
#     airbnb
#     .assign(
#         host_type=lambda df_: np.select(
#             [
#                 df_.calculated_host_listings_count == 1,
#                 df_.calculated_host_listings_count <= 3,
#                 df_.calculated_host_listings_count <= 10,
#             ],
#             [
#                 'new_host',
#                 'casual_host',
#                 'experienced_host'
#             ],
#             default='professional_host'
#         )
#     )
# )

### `availability_365`

In [177]:
airbnb.availability_365

0        365
1        355
2        365
3        194
4          0
        ...
48890      9
48891     36
48892     27
48893      2
48894     23
Name: availability_365, Length: 48895, dtype: int64

In [178]:
airbnb.availability_365.value_counts()

availability_365
0      17533
365     1295
364      491
1        408
89       361
       ...
195       26
183       24
196       24
181       23
202       20
Name: count, Length: 366, dtype: int64

In [179]:
airbnb.availability_365.unique()

array([365, 355, 194,   0, 129, 220, 188,   6,  39, 314, 333,  46, 321,
        12,  21, 249, 347, 364, 304, 233,  85,  75, 311,  67, 255, 284,
       359, 269, 340,  22,  96, 345, 273, 309,  95, 215, 265, 192, 251,
       302, 140, 234, 257,  30, 301, 294, 320, 154, 263, 180, 231, 297,
       292, 191,  72, 362, 336, 116,  88, 224, 322, 324, 132, 295, 238,
       209, 328,  38,   7, 272,  26, 288, 317, 207, 185, 158,   9, 198,
       219, 342, 312, 243, 152, 137, 222, 346, 208, 279, 250, 164, 298,
       260, 107, 199, 299,  20, 318, 216, 245, 189, 307, 310, 213, 278,
        16, 178, 275, 163,  34, 280,   1, 170, 214, 248, 262, 339,  10,
       290, 230,  53, 126,   3,  37, 353, 177, 246, 225,  18, 343, 326,
       162, 240, 363, 247, 323, 125,  91, 286,  60,  58, 351, 201, 232,
       258, 341, 244, 329, 253, 348,   2,  56,  68, 360,  76,  15, 226,
       349,  11, 316, 281, 287,  14,  86, 261, 331,  51, 254, 103,  42,
       325,  35, 203,   5, 276, 102,  71,  78,   8, 182,  79,  49, 156,
       200, 106, 135,  81, 142, 179,  52, 237, 204, 181, 296, 335, 282,
       274,  98, 157, 174, 223, 361, 283, 315,  36, 271, 139, 193, 136,
       277, 221, 264, 236,  89,  23, 218, 235, 119, 350, 161, 259,  27,
       167, 358,  59, 337,  43,  25, 127, 303, 115, 268,  44,  65, 252,
        64, 111,  90, 338,  31, 241, 285, 183,  84, 166,  28,  83, 305,
       356, 308, 229, 210, 153, 332, 120, 313,  69, 293,   4, 300,  40,
       117, 206, 144, 354,  41, 270, 306,  33,  50,  80,  97, 118, 134,
        17, 289, 121, 205,  74,  62,  29, 109, 168, 146, 242, 352, 155,
       291, 266, 101, 190, 327, 217, 171, 110,  87, 202,  70, 147, 169,
       212, 122, 330,  54, 196,  57,  73, 149, 239,  63, 195,  47, 319,
        19, 112, 344,  77, 160, 141,  13,  24, 150, 128, 176, 357, 211,
       172, 256, 165,  32, 105, 267, 148,  93,  45, 175, 159,  48, 100,
       184, 114, 133, 186, 334,  94, 151, 228, 113,  55,  66, 173, 104,
       197,  99, 131, 143, 124, 130, 187, 145, 108, 123,  92,  61, 138,
       227,  82])

## 6. Cleaning Operations

In [180]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [181]:
index_to_drop = (
    airbnb
    .loc[lambda df_: df_.name.str.contains(
        r'\b(?:yacht\s+tour|yacht\s+cruise|boat\s+tour|events?\s+listing|storage\s+only|parking\s+only)\b',
        case=False, na=False
    )]
    .index
)
index_to_drop = index_to_drop.append(airbnb.loc[lambda df_: df_.price.le(0)].index)
index_to_drop = index_to_drop.append(airbnb.loc[lambda df_: df_.minimum_nights.gt(35)].index)
index_to_drop

Index([21176, 47130, 48282, 48310, 23161, 25433, 25634, 25753, 25778, 25794,
       ...
       47957, 47973, 48043, 48145, 48205, 48312, 48325, 48368, 48446, 48784],
      dtype='int64', length=536)

In [182]:
def clean_data(df):
    return (
        df
        .drop(index=index_to_drop)
        .assign(**{
            col: df[col].str.strip()
            for col in df.select_dtypes(include='O').columns
        })
        .drop(columns=['id', 'host_id', 'name', 'host_name'])
        .assign(**{
            col: df[col].astype('category')
            for col in ['neighbourhood_group', 'room_type', 'neighbourhood']
        })
        .assign(
            last_review=lambda df_: pd.to_datetime(df_.last_review, format='%Y-%m-%d')
        )
    )
clean_data(airbnb)

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

In [183]:
airbnb_cleaned = clean_data(airbnb)
airbnb_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48359 entries, 0 to 48894
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             48359 non-null  category
 1   neighbourhood                   48359 non-null  category
 2   latitude                        48359 non-null  float64
 3   longitude                       48359 non-null  float64
 4   room_type                       48359 non-null  category
 5   price                           48359 non-null  int64
 6   minimum_nights                  48359 non-null  int64
 7   number_of_reviews               48359 non-null  int64
 8   last_review                     38548 non-null  datetime64[ns]
 9   reviews_per_month               38548 non-null  float64
 10  calculated_host_listings_count  48359 non-null  int64
 11  availability_365                48359 non-null  int64
dtypes: category(3), datetime64[ns](1), float64(3), int64(5)
memory usage: 3.9 MB

## 7. Split the Data

In [184]:
X = airbnb_cleaned.drop(columns='price')
y = airbnb_cleaned.price.copy()

In [185]:
X_, X_test, y_, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_, y_, test_size=0.2, random_state=42)

print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(30949, 11) (30949,)
(7738, 11) (7738,)
(9672, 11) (9672,)

## 8. Export the Subsets

In [186]:
def export_data(X, y, name):
    file_name = f'{name}.csv'
    file_path = os.path.join(PRO_DATA_DIR, file_name)
    
    X.join(y).to_csv(file_path, index=False)

    return pd.read_csv(file_path).head()

In [187]:
export_data(X_train, y_train, "train")

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,Manhattan,Washington Heights,40.84996,-73.93937,Private room,5,1,2016-05-28,0.03,1,0,50
1,Manhattan,Chinatown,40.71610,-73.99828,Entire home/apt,2,43,2019-01-03,1.32,1,0,140
2,Queens,Elmhurst,40.73088,-73.87488,Entire home/apt,2,47,2019-06-27,4.18,1,315,125
3,Manhattan,Harlem,40.82396,-73.94388,Entire home/apt,5,81,2019-06-09,1.48,3,303,450
4,Queens,Queens Village,40.72085,-73.74960,Entire home/apt,2,33,2019-06-30,3.60,1,282,68

In [188]:
export_data(X_val, y_val, "val")

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,Manhattan,Chelsea,40.74170,-73.99780,Entire home/apt,3,31,2016-12-05,0.63,1,0,135
1,Queens,Astoria,40.76728,-73.90781,Entire home/apt,1,5,2019-07-07,5.00,1,65,95
2,Manhattan,Harlem,40.82349,-73.94053,Private room,2,10,2019-06-28,0.32,1,8,80
3,Brooklyn,Clinton Hill,40.69011,-73.96656,Private room,2,0,NaN,NaN,1,0,100
4,Manhattan,Upper West Side,40.80137,-73.96150,Private room,3,1,2016-07-06,0.03,1,0,80

In [189]:
export_data(X_test, y_test, "test")

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,Manhattan,Stuyvesant Town,40.73193,-73.97971,Private room,1,0,NaN,NaN,2,0,115
1,Manhattan,Upper East Side,40.78117,-73.95688,Private room,1,3,2019-03-15,0.28,1,90,105
2,Manhattan,Little Italy,40.71889,-73.99686,Entire home/apt,2,2,2019-03-10,0.19,2,3,400
3,Brooklyn,Bedford-Stuyvesant,40.68037,-73.93821,Private room,3,4,2018-07-29,0.28,1,0,44
4,Queens,Long Island City,40.75571,-73.93380,Private room,1,54,2019-06-22,2.54,9,265,55

In [190]:
export_data(X, y, 'cleaned_full')

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,6,365,149
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,2019-05-21,0.38,2,355,225
2,Manhattan,Harlem,40.80902,-73.94190,Private room,3,0,NaN,NaN,1,365,150
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,194,89
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,9,2018-11-19,0.10,1,0,80